@model JoeTakac_WAD.Models.Game

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <h2 class="text-info pl-3">Add Game</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Developer"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Developer" class="form-control" />
                        <span asp-validation-for="Developer" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Publisher"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Publisher" class="form-control" />
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ReleaseDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Genre"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Genre" class="form-control" />
                        <span asp-validation-for="Genre" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Engine"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Engine" class="form-control" />
                        <span asp-validation-for="Engine" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Rating"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Platforms"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Platforms" class="form-control" />
                        <span asp-validation-for="Platforms" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Requirements"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Requirements" class="form-control" />
                        <span asp-validation-for="Requirements" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Image"></label>
                    </div>
                    <div class="col-8">
                        IMAGE INPUT HERE
                    </div>

                </div>

                <!-- Buttons -->
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100">Back</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{ 

@{ <partial name="_ValidationScriptsPartial" />}

}